
* {
    box-sizing: border-box;
}

.logo {
    width: 95.76px;
    height: 24.61px;;
}

li {
    list-style: none;
}

main {
    color: white;
    background-color: #24053E;
    border-radius: 0% 0% 50% 50%;
}

header {
    padding-top: 56px;
    margin-bottom: 56px;
    width: 80%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
}

h1 {
    font-family: "Fraunces", serif;
}

.title {
    margin-left: auto;
    margin-right: auto;
    width: 635px;     ;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
}

a {
    font-size: 18px;
    background-color: #44FFA1;
    padding: 12px 32px 12px 32px;
    text-decoration: none;
}

h1 {
    font-weight: 700;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    font-size: 80px;
}

.tel {
    margin-top: 88px;
    width: 768px;
    display: flex;
    justify-content: center;
}